.main-map {
  width: 100%;
  padding-top: 79px;
  box-sizing: border-box;
  position: relative;
}
.main-map .map-img_wrap {
  width: 1172px;
  height: 500px;
  float: right;
  position: relative;
}
.main-map .map-img_wrap .map_text {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 270px;
}
.main-map .map-area {
  width: 640px;
  height: 500px;
  position: absolute;
  left: 320px;
  top: 160px;
}
.map_text-tit {
  text-align: left;
  font-size: 42px;
  line-height: 32px;
  font-weight: bold;
  font-family: "Pretendard Variable";
  color: #ffffff;
}
.map_text-txt {
  font-size: 20px;
  line-height: 32px;
  font-family: "Pretendard Variable";
  color: #ffffff;
}
